/* Stye font all pages */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* body style */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Style logo home page */
.logo img{
    width: 20%;
    border-radius: 60px;
}

/* display flex in home page */
.logo,nav,.pages,.container,.profile-user,.profile-image,.side-bar-manu{
    display: flex;
}

/* justify content centre and align centre */
.pages,.profile-user,.profile-image,.side-bar-manu{
    justify-content: center;
    align-items: center;
}


nav{
    background: rgb(141, 2, 122);
    padding: 3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.logo a{
    font-size: larger;
    text-decoration: none;
    margin-left: 30px;
}

/* Color #fff */
.logo a,.pages a{
    color: #fff;
}

/* Background color hover  */
.active-on,.pages a:hover{
    background: rgb(116, 1, 100);
}

/* Home page style */

.pages a{
    padding: 9px;
    margin: 0 70px;
}


/* End nav bar style */

/* Home style  */
.side-bar{
    width: 30%;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 0 5px 5px 0;
}
/* style container */
.main-container{
    overflow: scroll;
    height: 90vh;
    width: 70%;
    overflow-x: hidden;
}

.profile-image img{
    width: 20%;
    border-radius: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.edit-profile a{
    margin-left: 5px;
    padding: 5px;
    border-radius: 5px;
}
.profile-image a:hover,.side-bar-manu input{
    background: #eee;
}

/* side bar left style */
.profile-user{
    font-size: xx-large;
    font-family: cursive;
}

.side-bar-manu i{
    margin-right: 70px;
}
.side-bar-manu a{
    padding: 10px;
    width: 28vw;
    text-decoration: none;
    border-radius: 0 40px 40px 0;
    margin-top: 5px;
}
.side-bar-manu input{
    padding: 10px;
    width: 80vw;
    margin-left: 70px;
    border-radius: 40px;
    border: none;
    
}
.side-bar-manu input:focus{
    outline: 1px solid rgb(141, 2, 122);
    border-radius: 40px;
}
.side-bar-manu i,.edit-profile a{
    color: rgb(141, 2, 122);
}


/* color black */
.side-bar-manu a{
    color: black;
}
.active-sidebar{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}






